<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepraj books notes</title>
    <style>
       body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }
        label {
            font-weight: bold;
        }
        input[type="text"] {
            height: 303px;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        button[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        button[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>
    <h2>My Review</h2>
    <form action="/edit/<%= bookData.book_id %>" method="POST">
        <!-- Hidden input field to send the book ID -->
        <input type="hidden" name="_method" value="PUT">
        <label for="userInput">Enter your Review:</label>
        <!-- Properly escaped value attribute -->
        <input type="text" id="userInput" name="note" value="<%= bookData.note.replace(/"/g, '&quot;').replace(/'/g, '&#39;') %>">
        <!-- <textarea name="note" id="review" cols="30" rows="10"></textarea> -->
        <button type="submit">Save Change</button>
    </form>
    
</body>

</html>